.container__body, .register__container__body{
    width: 600px;
    background: #f1f2ff;
    margin: 30px auto;
    padding: 10px 20px;
}
.register__container__body{
    width: 100%;
}
.container__body__info{
    text-align: center;
    font-family: Roboto;
    color: #000;
    font-size: 23px;
    font-weight: 500;
    padding: 20px 0;
}
#buttonRegister{
    margin-bottom: 20px;
}