{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block css-fixo %}
<link rel="stylesheet" href="{% static 'apps/core/core_estilo.css' %}">
{% endblock %}
{% block content %}

<div class="container">
        <div class="containerCentral">
            <h1 class="containerCentral__title">{{msg}}</h1>
            <h3 class="containerCentral__subtitle">Escolha uma das opções abaixo: </h3>
        </div>
        <div class="row containerCentral__row">
            <div class="col">
                <a href="{% url 'usuarios' %}" class="btn btn-primary containerCentral__title__btn">Usuários</a>
            </div>
            <div class="col">
                <a href="{% url 'cliente-list' %}" class="btn btn-primary containerCentral__title__btn">Clientes</a>
            </div>
        </div>
</div>


{% endblock %}