.containerCentral{
    width: 100%;
    text-align: center;
    height: 110px;
    margin-top: 20px;
}
.containerCentral__title {
    font-family: Roboto;
    color: #312494;
    font-weight: bold;
}
.containerCentral__subtitle{
    font-family: Arial;
    font-size: 20px;
    color: black;
}

.containerCentral__title__btn{
    width: 320px;
    height: 100px;
    font-family: Roboto;
    font-size: 30px;
    color: white;
    font-weight: 500;
    padding: 5% 0;
}
.containerCentral__title__btn:hover {
    background: #7c41d8;
    cursor: pointer;
}
.containerCentral__row{
    text-align: center;
}