{% extends 'base.html' %}
{% load static %}
{% block title %}Clientes{% endblock %}

{% block css-fixo %}
<link rel="stylesheet" href="{% static 'apps/usuario/estilo_usuario.css' %}">
{% endblock %}
{% block content %}

<div class="container">
<div class="register__container__body">
    <h1 class="container__body__info">Lista de Clientes</h1>
    <a class="btn btn-primary" id="buttonRegister" href="{% url 'cliente-criar' %}">Cadastrar <i class="fas fa-user-plus"></i></a>
<div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Endereço</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">CEP</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>

  {% for cliente in object_list %}
    <tr>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.telefone}}</td>
      <td>{{cliente.endereco}}</td>
      <td>{{cliente.cidade}}</td>
      <td>{{cliente.estado}}</td>
      <td>{{cliente.cep}}</td>
      <td>
        <a type="button" href="{% url 'cliente-edit' pk=cliente.pk %}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
        <a type="button" href="{% url 'cliente-delete' pk=cliente.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
      </td>
    </tr>

  {% endfor %}

  </tbody>
</table>
</div>
</div>
</div>


{% endblock %}