{% extends 'base.html' %}
{% load static %}
{% block title %}Excluir Cliente{% endblock %}


{% block css-fixo %}
<link rel="stylesheet" href="{% static 'apps/usuario/estilo_usuario.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <form action="{% url 'cliente-delete' pk=cliente.id %}" method="POST">{% csrf_token %}
        <div class="container__body">

            <div role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Exclusão</h5>
                  </div>
                  <div class="modal-body">
                      <p>Tem certeza que deseja remover o cliente: <b>{{cliente.nome}}</b> ?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">TENHO CERTEZA</button>
                    <a type="button" href="{% url 'cliente-list' %}" class="btn btn-secondary">Não, cancelar.</a>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </form>
</div>

{% endblock %}