{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastrar Cliente{% endblock %}

{% load crispy_forms_tags %}

{% block css-fixo %}
<link rel="stylesheet" href="{% static 'apps/usuario/estilo_usuario.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <form method="post">{% csrf_token %}
        <div class="container__body">

            <h3 class="container__body__info">{{msg}}</h3>

            <div class="row">
                <div class="col-12">
                    {{form.nome|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.telefone|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.cep|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.endereco|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.numero|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.cidade|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.estado|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.pais|as_crispy_field}}
                </div>

                <button class="btn btn-primary" type="submit">SALVAR</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block js-body %}
<script type="text/javascript" src="{% static 'apps/cliente/js/jquery.mask.js' %}"></script>

<script>

    $(document).ready(function(){

    //Mascaras para campos de CEP e Telefone
        $('#id_cep').mask('00000-000');
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        spOptions = {
            onKeyPress: function(val, e, field, options) {
            field.mask(SPMaskBehavior.apply({}, arguments), options);
          }
        };
        $('#id_telefone').mask(SPMaskBehavior, spOptions);

    //Preenchimento automatico do cep

    function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#id_endereco").val("");
                $("#id_cidade").val("");
                $("#id_estado").val("");
                $("#id_pais").val("");
            }

            //Quando o campo cep perde o foco.
            $("#id_cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#id_endereco").val("...");
                        $("#id_cidade").val("...");
                        $("#id_estado").val("...");
                        $("#id_pais").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#id_endereco").val(dados.logradouro);
                                $("#id_cidade").val(dados.localidade);
                                $("#id_estado").val(dados.uf);
                                $("#id_pais").val('Brasil');
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });


    })

</script>

{% endblock %}