{% extends 'base.html' %}
{% load static %}
{% block title %}Usuários{% endblock %}

{% block css-fixo %}
<link rel="stylesheet" href="{% static 'apps/usuario/estilo_usuario.css' %}">
{% endblock %}
{% block content %}

<div class="container">
<div class="register__container__body">
    <h1 class="container__body__info">Lista de usuários</h1>
    <a class="btn btn-primary" id="buttonRegister" href="{% url 'register' %}">Cadastrar <i class="fas fa-user-plus"></i></a>
<div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
        <th>#</th>
      <th scope="col">Usuário</th>
      <th scope="col">E-mail</th>
    </tr>
  </thead>
  <tbody>

  {% for usuario in usuarios %}
    <tr>
        <td>{{usuario.id}}</td>
      <td>{{usuario.username}}</td>
      <td>{{usuario.email}}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
</div>
</div>
</div>


{% endblock %}