{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block css-fixo %}
<link rel="stylesheet" href="{% static 'apps/usuario/login.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-social.css' %}">
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}


    <form class="form-signin" method="post">{% csrf_token %}
        <img class="mb-4" src="{% static 'imagens/logos/user-solid.svg' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        {% if user.is_authenticated %}
        <span>Atenção: Usuário <b>{{user.username}}</b> está logado.
            <a href="{% url 'home' %}">clique aqui</a> para ir para home</span>
        {% else %}

        <input type="text" id="id_usuario" name="usuario" class="form-control" placeholder="Usuário" required autofocus>
      <label for="id_usuario" class="sr-only">Usuário</label>

        <input type="password" id="id_senha" name="senha" class="form-control" placeholder="Senha" required>
        <label for="id_senha" class="sr-only">Password</label>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

        {% endif %}

    </form>


{% endblock %}