{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastrar Usuário{% endblock %}

{% load crispy_forms_tags %}

{% block css-fixo %}
<link rel="stylesheet" href="{% static 'apps/usuario/estilo_usuario.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <form method="post">{% csrf_token %}
        <div class="container__body">

            <h3 class="container__body__info">Ficha de Cadastro</h3>

            <div class="row">
                <div class="col-12">
                    {{form.username|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.email|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.password1|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{form.password2|as_crispy_field}}
                </div>

                <button class="btn btn-primary" type="submit">CADASTRAR</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}